<menu>
    <menuitem label='Consulta '>
        <menu>
            <menuitem label='Categorias'>
                <action>CategoriesFormList</action>
            </menuitem>
            <menuitem label='Clientes'>
                <action>CustomersList</action>
            </menuitem>
            <menuitem label='Produtos'>
                <action>AlphabeticalListOfProductsList</action>
            </menuitem>
            <menuitem label='Região'>
                <action>RegionFormList</action>
            </menuitem>
            <menuitem label='Territórios'>
                <action>TerritoriesFormList</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Relatórios '>
        <menu>
            <menuitem label='Vendas por Categoria'>
                <action>SalesByCategoryReport</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Welcome '>
        <menu>
            <menuitem label='Welcome page'>
                <icon>app/images/ico_wellcome.png</icon>
                <action>WelcomeView</action>
            </menuitem>
        </menu>
    </menuitem>
</menu>